<p><%= @contact.name %></p>
<p><%= @contact.phone %></p>
<p><%= @contact.subject %></p>
<p><%= @contact.message %></p>
<p>---------------------</p>
<p><%= SpreeContactUs.require_name ? Spree.t(:sent_by_name, :email => @contact.email, :phone => @contact.phone,  :name => @contact.name) : Spree.t(:sent_by_contact_form, :email => @contact.email) %></p>
